# Ignore node modules
node_modules/

# Ignore environment variables
.env
.env.example
.next
# Ignore build output
dist/
build/

# Ignore logs
*.log

# Ignore OS files
# prisma
prisma/migrations/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db